<div class="modal-content">
    <div class="modal-header">
        <h3>
            Novo Proprietário <i class="fa fa-user" aria-hidden="true"></i>
        </h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <partial name="../Proprietario/_Formulario.cshtml" />
        </div>
    </div>
    <div id="mdlMensagem" class="modal" tabindex="-1" role="dialog"></div>
</div>


@section scripts {
    <script src="~/js/Proprietario.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var imagem = new FormData();
        $(document).ready(function() {
            $("#formProprietario").attr('action', '@Url.Action("Inserir","Proprietario")').attr('method', 'POST');        
            factory('POST');
        });
    </script>

} 