@using PTC.Domain.Enums

<form id="formVeiculo" method="post">
    <div class="form-group" style="text-align:center">
        <div class="row" style="padding-bottom:2%">
            <div class="col-6">
                <div class="col-lg-6 containner-img-upload">
                    <img id="imgVeiculo" class="img-fluid card-img" src="~/images/Veiculos/carrodefault.jpg" alt="Alternate Text" style=" width: auto;" />
                    <input type="file" hidden name="ArquivosImagens" value="" id="inputImg" accept="image/*" class="hide" multiple />
                </div>
                <div class="col-lg-6 containner-btn-img-upload">
                    <button type="button" id="btnImgUpload" class="form-control-file btn btn-info">Upload</button>
                </div>
            </div>
            <div class="col-6 text-left">
                <div class="row" style="padding-bottom:1%">
                    <div class="col-12">
                        <label class="lbl-inputs" for="NomeVeiculo">Nome</label>
                        <input id="NomeVeiculo" type="text" name="NomeVeiculo" value="" class="form-control" required />
                    </div>
                </div>
                <div class="row" style="padding-bottom:1%">
                    <div class="col-12">
                        <label class="lbl-inputs" for="ModeloVeiculo">Modelo</label>
                        <input id="ModeloVeiculo" type="text" name="ModeloVeiculo" value="" class="form-control" required />
                    </div>
                </div>
                <div class="row" style="padding-bottom:1%">
                    <div id="selectMarca" class="col-12"></div>
                </div>
                <div class="row" style="padding-bottom:1%">
                    <div class="col-12">
                        <label class="lbl-inputs" for="Km">Km</label>
                        <input type="number" class="form-control" name="Km" value="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:2%">
            <div class="col-4 text-left">
                <label class="lbl-inputs" for="ValorCompra">Valor Compra</label>
                <input type="number" class="form-control" name="ValorCompra" value="" step=".1" />
            </div>
            <div class="col-4 text-left">
                <label class="lbl-inputs" for="ValorTabela">Valor Tabela</label>
                <input type="number" class="form-control" name="ValorTabela" value="" step=".1" />
            </div>
            <div class="col-4 text-left">
                <label class="lbl-inputs" for="ValorRevenda">Valor Revenda</label>
                <input type="number" class="form-control" name="ValorRevenda" value="" step=".1" />
            </div>
        </div>
        <div class="row" style="padding-bottom:2%">
            <div class="col-3 text-left">
                <label class="lbl-inputs" for="EnumSituacaoAquisicao">Situação</label>
                <select name="SituacaoAquisicaoId" class="form-control form-select text-center" asp-items="Html.GetEnumSelectList<EnumSituacaoAquisicao>()"></select>
            </div>
            <div class="col-3 text-left">
                <label class="lbl-inputs" for="fabricacao">Fabricacao</label>
                <input id="fabricacao" type="date" name="DataFabricacaoVeiculo" value="" class="form-control" required />
            </div>
            <div class="col-3 text-left">
                <label class="lbl-inputs" for="EnumTipoPagamentoAquisicao">Forma Pagamento Aquisição</label>
                <select name="TipoPagamentoAquisicaoId" class="form-control form-select text-center" asp-items="Html.GetEnumSelectList<EnumFormaPagamento>()"></select>
            </div>
            <div class="col-3 text-left">
                <label class="lbl-inputs" for="EnumTipoPagamentoAquisicao">Forma Pagamento Revenda</label>
                <select name="TipoPagamentoRevendaId" class="form-control form-select text-center" asp-items="Html.GetEnumSelectList<EnumFormaPagamento>()"></select>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom:2%">
        <div class="col-6 text-left">
            <div class="row">
                <div class="col-6 text-left">
                    <label class="lbl-inputs" for="ProprietarioId">Proprietario</label>
                </div>
                <div class="col-6 text-right">
                    <button id="btnAbrirModal" type="button" onclick="AbrirModal('mdlRedirectPessoaForm')" class="btn btn-success btn-sm btnAdicionarMarca">Novo</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <select id="ProprietarioId" name="ProprietarioId" asp-items="Model.ProprietariosHtmlSelectList" class="form-control form-select"></select>
                </div>
            </div>
        </div>
        <div class="col-6 text-left">
            <div class="row">
                <div class="col-6 text-left">
                    <label class="lbl-inputs" for="CompradorId">Comprador</label>
                </div>
                <div class="col-6 text-right">
                    <button id="btnAbrirModal" type="button" onclick="AbrirModal('mdlRedirectPessoaForm')" class="btn btn-success btn-sm btnAdicionarMarca">Novo</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <select id="CompradorId" name="CompradorId" asp-items="Model.ProprietariosHtmlSelectList" class="form-control form-select col-md-3"></select>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 div-btn-end" style="padding-top: 15px;">
            <a class="btn btn-danger" href="@Url.Action("Index","Operacao")">Cancelar</a>
            &nbsp;|&nbsp;
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
</form>