@using PTC.Domain.Enums;
@model PTC.Application.Dtos.OperacaoViewModel

<div class="modal-content">
    <div class="mdlMensagem"></div>
    <div class="modal-header">
        <h3>
            <span id="headerMarca">Novo Veículo</span>
            <img class="img-logo" src="#" style="display:none" />
        </h3>
    </div>
    <div class="modal-body">
        <partial name="../Operacao/_Formulario.cshtml" />
        <div id="mdlAdicionarMarca" class="modal" role="dialog">
            <partial name="../Marcas/_Adicionar.cshtml" />
        </div>
        <div id="mdlRedirectPessoaForm" class="modal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-header-align">
                        <span id="btnFecharMdlRedirectPessoaForm" class="close span-close-modal" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </span>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <p>Tem certeza que deseja ser redirecionado para a tela de inclusão de proprietário?</p>
                        </fieldset>
                        <hr />
                        <div class="row">
                            <div class="col-12 text-right">
                                <button onclick="RedirecionarFormProprietario()" type="button" class="btn btn-success">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script>
        $(document).ready(function() {
            $("#mdlAdicionarMarca").hide();
            ObterMarcasSelectList();
            FormEventHandler('InserirVeiculo', 'Index', 'Operacao');

            $('select').select2({
                placeholder: "Selecione"            
            });

            $("#btnImgUpload").on('click', function(e) {
                $("#inputImg").click();
                return false;
            });
        });

        function RedirecionarFormProprietario() {
            window.location = "@Url.Action("Adicionar","Proprietario")";
        }

        function ObterMarcasSelectList() {
            let url = '@Url.Action("ObterSelectList","Marcas")';
            CarregarPartialView(url, 'selectMarca');
        }
    </script>
} 