@using PTC.Domain.Enums;
@model PTC.Application.Dtos.OperacaoViewModel

<div class="modal-content">
    <div class="mdlMensagem"></div>
    <div class="modal-header">
        <h3>
            <span id="headerMarca">Novo Veículo</span>
            <img class="img-logo" src="#" style="display:none" />
        </h3>
    </div>
    <div class="modal-body">
        <partial name="../Operacao/_Formulario.cshtml" />
        <div id="mdlAdicionarMarca" class="modal" role="dialog">
            <partial name="../Marcas/_Adicionar.cshtml" />
        </div>
        <div id="mdlRedirectPessoaForm" class="modal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-header-align">
                        <span id="btnFecharMdlRedirectPessoaForm" class="close span-close-modal" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </span>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <p>Tem certeza que deseja ser redirecionado para a tela de inclusão de proprietário?</p>
                        </fieldset>
                        <hr />
                        <div class="row">
                            <div class="col-12 text-right">
                                <button onclick="RedirecionarFormProprietario()" type="button" class="btn btn-success">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/js/Operacao.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#formVeiculo").attr("action", '@Url.Action("Inserir","Operacao")');
            $("#mdlAdicionarMarca").hide();

            factory('POST','@Url.Action("ObterSelectList","Marcas")');
        });

        function RedirecionarFormProprietario() {
            window.location = "@Url.Action("Adicionar","Proprietario")";
        }
    </script>
} 