<div class="modal-content margin-modais">
    <div class="modal-header">
        <h3>
            <span id="headerMarca">Novo Veículo</span>
            <img class="img-logo" src="#" style="display:none" />
        </h3>
    </div>
    <div class="modal-body">
        <form id="InserirVeiculo" action="@Url.Action("Inserir","Veiculos")" method="post">
            <div class="form-group" style="text-align:center">
                <div class="row">
                    <div class="col-6">
                        <div class="col-lg-6 containner-img-upload">
                            <img id="imgVeiculo" class="img-fluid card-img" src="~/images/Veiculos/carromodelo.png" alt="Alternate Text" style=" width: auto;" />
                            <input type="file" hidden name="Imagem" value="" id="inputImg" />
                        </div>
                        <div class="col-lg-6 containner-btn-img-upload">
                            <button id="btnImgUpload" class="form-control-file btn btn-info">Upload</button>
                        </div>
                    </div>
                    <div class="col-6 text-left">
                        <div class="row">
                            <div class="col-12">
                                <label for="Nome">Nome</label>
                                <input id="Nome" type="text" name="Nome" value="" class="form-control" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="modelo">Modelo</label>
                                <input id="modelo" type="text" name="modelo" value="" class="form-control" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="selectMarca"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="selectProprietario"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-left">
                        <label for="km">Km</label>
                        <input type="number" class="form-control" name="km" value="" />
                    </div>
                    <div class="col-6 text-left">
                        <label for="valor">Valor</label>
                        <input type="number" class="form-control" name="ValorCompra" value="" step=".01" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-left">
                        <label for="fabricacao">Fabricacao</label>
                        <input id="fabricacao" type="date" name="fabricacao" value="" class="form-control" required />
                    </div>
                    <div class="col-6 text-left">
                        <label for="Anomodelo">Modelo</label>
                        <input id="Anomodelo" type="date" name="Anomodelo" value="" class="form-control" required />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 div-btn-end" style="padding-top: 15px;">
                    <a class="btn btn-danger" href="@Url.Action("Index","Veiculos")">Cancelar</a>
                    &nbsp;|&nbsp;
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
        <div id="mdlAdicionarMarca" class="modal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="btnFecharMdlAdicionarMarca" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formInserirMarcas" action="@Url.Action("Inserir","Marcas")" method="post">
                            <div class="row">
                                <div class="col-12 text-left">
                                    <label for="Nome">Nome</label>
                                    <input id="inputMarca" type="text" name="Nome" value="" class="form-control" required />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12 text-right">
                                    <button id="btnFormInserirMarcas" onclick="InserirNovaMarca()" type="button" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#mdlAdicionarMarca").hide();
            ImagemEvent("Veiculos");
            FormEventHandler('InserirVeiculo', 'Index', 'Proprietario');
            MontarSelect('ObterTodos', 'Marcas', 'selectMarca', 'Marca', true, 'btnAdicionarMarca', 'mdlAdicionarMarca');
            //MontarSelect('ObterTodos', 'Marcas', 'selectMarca', 'Marca', true, 'btnAdicionarMarca');

            $(".row").css("padding-bottom", "10px");
        });


        function InserirNovaMarca() {
            fetch("@Url.Action("Inserir","Marcas")", {
                method: 'POST',
                body: new FormData(document.querySelector("#formInserirMarcas"))
            }).then(function (serverPromise) {
                serverPromise.text()
                    .then(function (j) {
                        $("#btnFecharMdlAdicionarMarca").click();
                        $("#selectMarca").html('');
                        MontarSelect('ObterTodos', 'Marcas', 'selectMarca', 'Marca', true, 'btnAdicionarMarca', 'mdlAdicionarMarca');
                    })
                    .catch(function (e) {
                        alert("Algo deu errado");
                    });
            });
        }

    </script>

} 