<div class="modal-content margin-modais">
    <div class="modal-header">
        <h3>
            <span id="headerMarca">Novo Veículo</span>
            <img class="img-logo" src="#" style="display:none" />
        </h3>
    </div>
    <div class="modal-body">
        <form id="InserirVeiculo" action="@Url.Action("Inserir","Veiculos")" method="post">
            <div class="form-group" style="text-align:center">
                <div class="row" style="height: 50vh;">
                    <div class="col-sm-6">
                        <img id="imgVeiculo" class="img-fluid card-img" src="~/images/Veiculos/carromodelo.png" alt="Alternate Text" style="width: 100%;height: 43%;" />
                        <input type="file" hidden name="Imagem" value="" id="inputImg" />
                        <div class="row">
                            <div class="col-sm-12">
                                <button id="btnImgUpload" class="form-control-file btn btn-info">Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="Nome">Nome</label>
                        <input id="Nome" type="text" name="Nome" value="" class="form-control" required />
                        <label for="modelo">Modelo</label>
                        <input id="modelo" type="text" name="modelo" value="" class="form-control" required />
                        <div id="selectMarca"></div>
                        <div id="selectProprietario"></div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-6">
                        <label for="km">Km</label>
                        <input type="text" class="form-control" name="km" value="" />
                    </div>
                    <div class="col-6">
                        <label for="valor">Valor</label>
                        <input type="number" class="form-control" name="valor" value="" step=".01" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="fabricacao">Fabricacao</label>
                        <input id="fabricacao" type="date" name="fabricacao" value="" class="form-control" required />
                    </div>
                    <div class="col-6">
                        <label for="Anomodelo">Modelo</label>
                        <input id="Anomodelo" type="date" name="Anomodelo" value="" class="form-control" required />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 div-btn-end" style="padding-top: 15px;">
                    <a class="btn btn-danger" href="@Url.Action("Index","Veiculos")">Cancelar</a>
                    &nbsp;|&nbsp;
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            ImagemEvent("Veiculos");
            FormEventHandler('InserirVeiculo', 'Index', 'Proprietario');
            MontarSelect('ObterTodos', 'Marcas', 'selectMarca', 'Marca');
            MontarSelect('ObterTodos', 'Proprietario', 'selectProprietario', 'Proprietário');
        });
    </script>

} 