<div class="modal-content margin-modais">
    <div class="modal-header">
        <h3>
            <span id="headerMarca">Novo Veículo</span>
            @*<img class="img-logo" src="#" style="display:none" />*@
        </h3>
    </div>
    <div class="modal-body">
        <form id="InserirVeiculo" action="@Url.Action("Inserir","Veiculos")" method="post">
            <div class="form-group">
                <div class="row" style="padding-bottom:20px">
                    <div class="col-4">
                        <label for="Nome">Nome</label>
                        <input id="Nome" type="text" name="Nome" value="" class="form-control" required />
                    </div>
                    <div class="col-4">
                        <label for="modelo">Modelo</label>
                        <input id="modelo" type="text" name="modelo" value="" class="form-control" required />
                    </div>
                    <div id="selectMarca" class="col-4"></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="fabricacao">Fabricacao</label>
                        <input id="fabricacao" type="date" name="fabricacao" value="" class="form-control" required />
                    </div>
                    <div class="col-6">
                        <label for="Anomodelo">Modelo</label>
                        <input id="Anomodelo" type="date" name="Anomodelo" value="" class="form-control" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="km">Km</label>
                        <input type="text" class="form-control" name="km" value="" />
                    </div>
                    <div class="col-4">
                        <label for="valor">Valor</label>
                        <input type="number" class="form-control" name="valor" value="" />
                    </div>
                    <div id="selectProprietario" class="col-4"></div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 div-btn-end" style="padding-top: 15px;">
                    <a class="btn btn-danger" href="@Url.Action("Index","Veiculos")">Cancelar</a>
                    &nbsp;|&nbsp;
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts {

    <script>
        $(document).ready(function () {
            MontarSelect('ObterTodos', 'Marcas', 'selectMarca', 'Marca');
            MontarSelect('ObterTodos', 'Proprietario', 'selectProprietario', 'Proprietário');
        });
    </script>

} 