<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Imagens</h5>
                <span type="button" class="close span-close-modal" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </span>
            </div>
            <div class="modal-body modal-lg-custom">
                <fildset>
                    <div class="row">
                        <div id="containner-imgs">
                        </div>
                    </div>
                </fildset>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
