<div class="modal-content margin-modais">
    <div class="modal-header">
        <h3>
            <span id="headerMarca">Nova Marca</span>
            <img class="img-logo" src="#" style="display:none" />
        </h3>
    </div>
    <div class="modal-body">
        <form id="InserirMarca" action="@Url.Action("Inserir","Marcas")" method="post">
            <div class="form-group">
                <div class="row" style="padding-bottom:20px">
                    <div class="col-4">
                        <label for="Nome">Nome</label>
                        <input id="Nome" type="text" name="Nome" value="" class="form-control" required />
                    </div>
                    <div class="col-4">
                        <label for="UrlImagem">Url Imagem</label>
                        <input id="UrlImagem" type="text" name="UrlImagem" value="" class="form-control" required />
                    </div>
                    <div class="containner-img col-4">
                        <img class="img-logo" src="#" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 div-btn-end" style="padding-top: 15px;">
                    <a class="btn btn-danger" href="@Url.Action("Index","Marca")">Cancelar</a>
                    &nbsp;|&nbsp;
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts {

    <script>
        $(document).ready(function () {
            $(".containner-img").hide();
            FormEventHandler('InserirMarca', 'Index', 'Marcas');

            $("#UrlImagem").on('change', function (e) {
                e.stopImmediatePropagation();
                if ($(this).val() != undefined && $(this).val() != null && $(this).val() != "") {
                    RenderizarImagemLogo();
                }
            });

            $("#Nome").on('change', function () {
                if ($(this).val() != undefined && $(this).val() != null && $(this).val() != "") {
                    $("#headerMarca").text($(this).val());
                }
                else {
                    $("#headerMarca").text('Nova Marca');
                }
            });
        });


        function RenderizarImagemLogo() {
            $(".img-logo").attr("src", $("#UrlImagem").val());
            $(".containner-img").show();
            $(".img-logo").show();
        }
    </script>

} 